
.table-data-check{
    padding: 10px;
    text-align: center;
}
.table-data-name {
    width: 20%;
    text-align: center;
}

.first-ping-green {
    padding: 0;
    color: #7CFC00;
    text-align: center;
    width: 20%
}

.first-ping-red {
    padding: 0;
    color: #ff0000;
    text-align: center;
    width: 20%;
}

.table-data-comments {
    width: 40%
}
.cohort-table {
    margin-top: 0;
}
.column-title:hover{
    cursor: pointer;
}
.student-link {
    color: white;
}

.student-link:hover {
    color: #2aabe2;
    text-decoration: none;
}

.student-link > span {
    padding-bottom: .1rem;
    border-bottom: 1px solid #2aabe2
}

