@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,700');

.nav-main {
    font-family: 'Nunito', sans-serif;
    height: 12vh;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}


.student-main {
    min-height: 90vh;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 9px;
    background-color: #181818;
    width: 11vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    color: #2aabe2;
    padding-top: 15px;
    font-size: 1.2rem
}


.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.arrow-left {
    margin-right: 1rem;
    cursor: pointer;
    transition: 0.2s
}

.arrow-left:hover {
    text-shadow: 3px 3px 14px #2aabe2;
}

.down-arrow {
    cursor: pointer;
    font-size: 1.2rem;

}

.down-arrow:hover {
    text-shadow: 3px 3px 14px #2aabe2;
}


.logo-container {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attendance-container {
    border-radius: 7px;
    height: 80vh;
    width: 95%;
    background: #333333;
    -webkit-box-shadow: 7px 10px 32px 0px rgba(24, 24, 24, 1);
    -moz-box-shadow: 7px 10px 32px 0px rgba(24, 24, 24, 1);
    box-shadow: 7px 10px 32px 0px rgba(24, 24, 24, 1);
    overflow-y: scroll;
}


.logo-container>h2 {
    margin-top: 5px;
    font-size: 1.2rem;
    color: white;
}

.nav-logo {
    height: 5vh;
}

.cohort-select {
    height: 1.6rem;
    font-size: .8rem;
    margin-bottom: .3rem;
    margin-left: 1rem;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.menu-container {
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#date {
    color: #2aabe2
}

.date-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}