@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,700');

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.attendance-header {
    text-align: center;
    color: white;
    margin-top: 1rem;
    font-size: 2rem;
}


table,
th,
td {
    border: 1px solid #212121;
    color: white
}


th {
    text-align: center;
    font-size: 1.5rem
}
table {
    width: 100%;
    height: 100%;
    margin-top: 1rem
}

tr {
    height: 6.5vh;
}

.table-header {
    text-align: center;
    font-size: 1.3rem;
    width: 33.33%
}

th>span {
    padding-bottom: .3rem;
    border-bottom: 1px solid #2aabe2
}

td {
    padding-left: 1rem;
    position: relative;
    text-align: center;

}


tr:nth-child(odd) {
    background-color: #181818
}



.edit {
    position: absolute;
    right: 0;
    padding-right: 1rem;
    cursor: pointer;
}

.edit:hover {
    color: #2aabe2
}


.timepicker-none {
    display: none;
}

.timepicker{
    display: block
}